@model AspNet_Core.Models.SubSection
@{
    ViewBag.Title = "SubSection Details";
}

<div class="row justify-content-center" m-3>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="SubSection" asp-action="index" class="btn btn-primary m-1">Back</a>
                <a href="#" class="btn btn-primary m-1">Delete</a>
            </div>
        </div>
    </div>
</div>


